@use "../../styles/partials/colors" as *;

.list {
    min-height: 32.5rem;
    background-color: $primary-background;
    border-radius: 8px;
    padding: 2.5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__title {
        text-align: center;
        
        &--successful {
            color: $cta-background;
            transform: scale(1.075);
        }
        
        &--error {
            color: $secondary-text;
            transform: scale(1.075);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__subtitle {
        margin-bottom: 1rem;
    }
    
    &__inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.625rem 4rem;
        margin-bottom: 0.875rem;
        width: 100%;
    }
    
    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary-headline;
        margin-bottom: 1.5rem;
        width: 40%;
        min-width: 15rem;
        max-width: 30rem;

        &--big {
            width: 90%;
            max-width: 75rem;
        }

        &-note {
            font-size: 0.75rem;
        }
    }


    &__input {
        margin-top: 0.25rem;
        font-family: inherit;
        height: 3rem;
        width: 100%;
        padding: 0.75rem 1.25rem;
        border: 1px solid $divider-line;
        border-radius: 50px;
        background-color: $input-background;
        color: $primary-headline;

        &:focus {
            border: 1px solid $secondary-text;
            outline: none;
        }
    }

    &__select {
        margin-top: 0.25rem;
        font-family: inherit;
        height: 3rem;
        width: 100%;
        padding: 0.75rem 1.25rem;
        border: 1px solid $divider-line;
        border-radius: 50px;
        background-color: $input-background;
        color: $primary-headline;
        appearance: none;
        background-image: url("../../assets/images/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - .75rem) 50%;

        &:focus {
            border: 1px solid $secondary-text;
            outline: none;
        }
    }

    &__textarea {
        margin-top: 0.25rem;
        font-family: inherit;
        height: 7.5rem;
        width: 100%;
        padding: 0.75rem 1.25rem;
        border: 1px solid $divider-line;
        border-radius: 25px;
        background-color: $input-background;
        color: $primary-headline;
        resize: none;
        line-height: 1.5rem;

        &:focus {
            border: 1px solid $secondary-text;
            outline: none;
        }
    }

    &__actions {
        display: flex;
        gap: 2.5rem;
        margin-top: 0.5rem;
    }
}