$primary-background: #ffffff;
$secondary-background: #d8e9f0;

$primary-headline: #003355;
$primary-paragraph: #1b2d45;
$secondary-text: #ff5201;

$cta-background: royalblue;
$cta-hover: navy;
$cta-background-special: #ff5201;
$cta-text: #ffffff;

$tertiary: #b7c9e4;
$divider-line: #e1e1e1;
$input-background: #fafafa;
$error: #d22d2d;