$primary-background: #ffffff;
$secondary-background: #d8e9f0;

$primary-headline: #00214d;
$primary-paragraph: #1b2d45;
$secondary-text: #f33535;

$cta-background: #f33535;
$cta-hover: #D22D2D;
$cta-text: #ffffff;

$tertiary: #b7c9e4;
$divider-line: #e1e1e1;