@use "../../styles/partials/colors" as *;

.main {
    display: flex;
    flex-direction: column;
    position: relative;

    &__title {
        margin-bottom: 1rem;
    }

    &__content {
        height: 100%;
    }
}