@use "../../styles/partials/colors" as *;

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    
    &__title {
        margin-bottom: 1rem;
    }
    
    &__content {
        height: 100%;
    }
    
    &__icon {
        height: 32px;
        position: absolute;
        opacity: 0.125;

        &-cards {
            top: 0.625rem;
            right: 0.75rem;

            &--bottom {
                bottom: 0.625rem;
                left: 0.75rem;
            }
        }
        
        &-dice {
            top: 0.625rem;
            left: 0.75rem;
            
            &--bottom {
                bottom: 0.625rem;
                right: 0.75rem;
            }
        }
    }
}