@use "../../styles/partials/colors" as *;

.header {
    background-color: $secondary-background;
    height: 5.3125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
    &__logo {
        height: 5rem;
        margin-left: 1rem;
        transform: scale(1.55);
    }

    &__right {
        display: flex;
    }

    &__logout {
        margin-left: 0.5rem;
    }
}