@use "../../styles/partials/colors" as *;

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 13rem;
    padding: 2rem 0 0.75rem 0;
    border-right: 1px solid $divider-line;

    &__links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__link {
        padding: 0.75rem 0.5rem 0.75rem 2.75rem;
        width: 12rem;
        border: 2px solid $divider-line;
        border-left: none;
        border-radius: 0 50px 50px 0;
        position: relative;

        &:hover {
            transform: scale(1.075);
            border: 2px solid $secondary-background;
            background-color: $tertiary;
            color: $cta-text;
            & > .nav-bar__icon {
                filter: brightness(100) saturate(100%);
            }
        }
    }

    .active {
        border: 2px solid $secondary-background;
            background-color: $tertiary;
            color: $cta-text;
            & > .nav-bar__icon {
                filter: brightness(100) saturate(100%);
            }
    }

    &__icon {
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
        width: 24px;
        height: 24px;
        filter: brightness(0) saturate(100%) invert(11%) sepia(72%) saturate(612%) hue-rotate(176deg) brightness(99%) contrast(88%);

        &--reverse {
            transform: rotate(180deg);
        }
    }

    &__footer {
        text-align: center;
        font-weight: 200;
        color: $secondary-text;
    }
}