@use "../../styles/partials/colors" as *;

.register {
    min-height: 35rem;
    background-color: $primary-background;
    border-radius: 8px;
    padding: 2.5rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem 4rem;
    }
    
    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary-headline;
        margin-bottom: 1.5rem;
        width: 40%;
        min-width: 15rem;
        max-width: 30rem;

        &:last-child {
            width: 90%;
            max-width: 75rem;
        }
    }

    &__input {
        margin-top: 0.25rem;
        font-family: inherit;
        height: 3rem;
        width: 100%;
        padding: 0.75rem 1.25rem;
        border: 1px solid $divider-line;
        border-radius: 50px;
        background-color: $input-background;
        color: $primary-headline;

        &:focus {
            border: 1px solid $secondary-text;
            outline: none;
        }
    }

    &__address {
        width: 97.5%;
    }

    &__actions {
        margin-top: 1.125rem;
        display: flex;
        gap: 2rem;
    }
}