@use "../../styles/partials/colors" as *;

.register {
    min-height: 35rem;
    background-color: $primary-background;
    border-radius: 8px;
    padding: 2.5rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__title {
        text-align: center;

        &--successful {
            color: $cta-background;
            transform: scale(1.075);
        }
        
        &--error {
            color: $secondary-text;
            transform: scale(1.075);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem 4rem;
    }
    
    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary-headline;
        margin-bottom: 1.5rem;
        width: 40%;
        min-width: 15rem;
        max-width: 30rem;
        position: relative;

        &:last-child {
            width: 90%;
            max-width: 75rem;
        }
    }

    &__input {
        margin-top: 0.25rem;
        font-family: inherit;
        height: 3rem;
        width: 100%;
        padding: 0.75rem 1.25rem;
        border: 1px solid $divider-line;
        border-radius: 50px;
        background-color: $input-background;
        color: $primary-headline;
        
        &:focus {
            border: 1px solid $secondary-text;
            outline: none;
        }
    }
    
    &__address {
        width: 97.5%;
    }
    
    &__suggestions {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1.75rem;
        position: absolute;
        top: 4.5rem;
        z-index: 1;
    }
    
    &__suggestion {
        font-family: inherit;
        min-height: 2.5rem;
        padding: 0.625rem 0.75rem 0.25rem;
        border: 1px solid $divider-line;
        color: $primary-headline;
        background-color: $primary-background;
        
        &:hover {
            background-color: $input-background;
            border: 1px solid rgba($cta-background-special, 75%);
            cursor: pointer;
        }
    }

    &__actions {
        margin-top: 1.125rem;
        display: flex;
        gap: 2rem;
    }
}