@use "./styles/partials/colors" as *;
@use "./styles/partials/typography" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "JosefinSans", sans-serif;
    color: $primary-paragraph;
    background-color: $primary-background;
    min-width: 30rem;
}

.content {
    display: flex;
    height: calc((100vh - 5.3125rem));
}

main {
    background-color: $secondary-background;
    width: 100%;
    padding: 3.25rem;
    height: 100%;
}

h1 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: $primary-headline;
}

h3 {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
}

h4,
label {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

p,
span,
a {
    font-size: .875rem;
    line-height: 1.25rem;
    font-style: normal;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}