@use "../../styles/partials/colors" as *;

.rent {
    min-height: 32.5rem;
    min-width: 40rem;
    background-color: $primary-background;
    border-radius: 8px;
    padding: 2.5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &--expanded {
        min-height: 62.5rem;
    }

    &__title {
        text-align: center;
        margin-bottom: 0.5rem;
        
        &--successful {
            color: $cta-background;
            transform: scale(1.075);
        }
        
        &--error {
            color: $secondary-text;
            transform: scale(1.075);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary-headline;
        margin-bottom: 0.75rem;
        width: 100%;
        min-width: 15rem;
        max-width: 75rem;
    }

    &__field {
        display: flex;
        width: 75%;
        position: relative;
    }

    &__input {
        margin-top: 0.25rem;
        font-family: inherit;
        height: 3rem;
        width: 100%;
        padding: 0.75rem 1.25rem;
        border: 1px solid $divider-line;
        border-radius: 50px;
        background-color: $input-background;
        color: $primary-headline;
        
        &:focus {
            border: 1px solid $secondary-text;
            outline: none;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }
    }

    &__search {
        position: absolute;
        right: 0.5rem;
        top: 0.625rem;
        border: none;
        border-radius: 50%;
        background-color: $cta-background;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;

        &:hover {
            cursor: pointer;
            background-color: $cta-hover;
        }

        &:focus {
            border: 1px solid $cta-background-special;
            outline: none;
        }
    }

    &__icon {
        filter: brightness(100) saturate(100%);
    }

    &__action {
        height: 2.5rem;
        border: 1px solid $cta-hover;
        border-radius: 8px;
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 600;
        background-color: $cta-background;
        color: $cta-text;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        position: relative;
        width: 20rem;
        padding: 0 2rem;
        font-family: inherit;

        &:hover {
            cursor: pointer;
            background-color: $cta-hover;
            transform: scale(1.025);
        }

        &:focus {
            border: 1px solid $cta-background-special;
            outline: none;
        }
    }

    &__map {
        width: 50vw;
        height: 50vh;
        min-width: 22.5rem;
        max-width: 80rem;
        min-height: 22.5rem;
        max-height: 80rem;
        border-radius: 8px;
        
        .gm-style-cc {
            display:none;
        }

        &-container {
            width: fit-content;
            height: fit-content;
            margin-bottom: 0.75rem;
        }
    }

    &__listings {
        width: 100%;
    }

    &__subtitle {
        text-align: center;
    }

    &__gallery {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 0;
        gap: 0.5rem;
    }

    &__no-listings {
        width: 100%;
        text-align: center;
    }
}